@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #2f2f2f;
  --red: #ffffff;
  --white: #f83038;
}

.main {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(#1c1c1c, #323232);
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
